<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="Lxr296"/>
    <add key="testPassword" value="000000"/>
    <add key="BaseSharedApiUrl" value="https://hk-uat-sharedapi.delphiconnect.com"/>
    <add key="TestVehicleGuid" value="6D3BE116-9ADF-42CA-A42E-22ADBC90EE48"/>
    <add key ="RootApiUrl" value="/api/v1"/>
    <add key="TokenGrantType" value ="password"/>
    <add key="AuthClientId" value ="3C6EAAF5-1FF7-4D41-8FC7-76922B2D5B7A"/>
    <add key="AuthSecretPair" value ="3C6EAAF5-1FF7-4D41-8FC7-76922B2D5B7B"/>
  </appSettings>
</configuration>